@model SecurityWokshop.Models.CreditCardModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Number
        </dt>

        <dd>
            @Model.Number
        </dd>

        <dt>
            Expiry Month
        </dt>

        <dd>
            @Model.ExpiryMonth
        </dd>

        <dt>
            ExpiryYear
        </dt>

        <dd>
            @Model.ExpiryYear
        </dd>

        <dt>
            CVV
        </dt>

        <dd>
            @Model.Cvv
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
