@model SecurityWokshop.Models.CreditCardModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreditCardModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Number
        </dt>

        <dd>
            @Model.Number
        </dd>

        <dt>
            Expiry Month
        </dt>

        <dd>
            @Model.ExpiryMonth
        </dd>

        <dt>
            Expiry Year
        </dt>

        <dd>
            @Model.ExpiryYear
        </dd>

        <dt>
            CVV
        </dt>

        <dd>
            @Model.Cvv
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
